<ion-header [translucent]="true" no-border>
  <ion-toolbar>
    <ion-title>Sohbetler</ion-title>
  </ion-toolbar>
  <ion-searchbar animated placeholder="Filtrele"
  (ionChange)="filter_($event)"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let file of Files">
      <ion-card expand="block">
        <ion-card-header>
          <ion-card-subtitle>
            Hacı Hasan Efendi Hz.leri
          </ion-card-subtitle>
          <ion-card-title>
            {{file.FileName}}
          </ion-card-title>
        </ion-card-header>
        <ion-button expand="full">
          <ion-icon name="play"></ion-icon>
          Dinle
        </ion-button>
      </ion-card>
    </ion-item>
  </ion-list>
  
</ion-content>
