<ion-header [translucent]="true" no-border>
  <ion-toolbar>
    <ion-title>Sohbetler</ion-title>
  </ion-toolbar>
  <ion-searchbar animated placeholder="Filtrele"
  (ionChange)="filter_($event)"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item button *ngFor="let file of Files" [color]="file == activeFile ? 'success' : ''" (click)="start(file)">
      {{file.FileName}}
    </ion-item>
  </ion-list>
  
</ion-content>
<ion-footer *ngIf="activeFile">
  <ion-toolbar>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        {{ activeFile.FileName }}
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-range #range [(ngModel)]="progress" max="100" color="success" (touchend)="seek()" (mouseup)="seek()"></ion-range>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button fill="clear" (click)="prev()" color="green">
          <ion-icon name="play-skip-back"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isplaying" color="green">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="togglePlayer(true)" *ngIf="isplaying" color="green">
          <ion-icon slot="icon-only" name="pause"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="next()" color="green">
          <ion-icon name="play-skip-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
